page-lists {
  .item-block{
    width: 50% !important;
    float: left;
    margin: 0 !important;
    box-shadow : none !important;
    background: none !important;
    padding: 1px 3px;
  }

  .item-block .item-inner{
    background-image: none !important;
    padding-right: 0 !important;
    align-items: baseline;
    min-height: 166px;
  }

  .item-block .item-inner ion-label{
    margin: 0;
  }

  .item-block .list-info{
    padding: 10px;
  }

  .item-block h2{
    text-align: right;
    color: #FFF !important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 20px;
    max-height: 40px;
     direction: rtl;
  }
}
